<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leday">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/img_threepoint"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controller.activity.SplashActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name=".UI.activity.AnimationActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/Theme.Design.Light.NoActionBar" /> -->
        <!-- <activity -->
        <!-- android:name=".UI.activity.MainActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".Controller.activity.MainTabActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BaseActivity" />
        <!-- 主Tab类 -->
        <activity android:name=".Controller.activity.TodayActivity" />
        <activity android:name=".Controller.activity.StarActivity" />
        <activity android:name=".Controller.activity.WebViewActivity" />
        <activity android:name=".Controller.activity.TalkActivity" />
        <activity android:name=".Controller.activity.TodayFavoriteActivity" />
        <activity android:name=".Controller.activity.WebFavoriteActivity" />
        <activity android:name=".Controller.activity.TodayFavoriteDetailActivity" />
        <activity android:name=".Controller.activity.WebFavoriteDetailActivity" />
        <activity
            android:name=".Controller.activity.NoteActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Controller.activity.NoteDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--集成line客户端登录授权，需要添如下格式的过滤器-->
            <intent-filter>
                <data android:scheme="line.1477692153" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".Controller.Service.UpdateService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="579eadc267e58ed31f0009b8" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${umeng_channel}" />
    </application>

</manifest>